
.my-clients {
    /*border: 5px solid red;*/
    height: 40%;
    background-color: #f9f9f6;
    padding: 1em;
    h1 {

        margin: 1em;
    }
    .clients {
        /*border: 5px solid blue;*/
        display: flex;
        gap: 150px;
        justify-content: center;
        align-items: center;
        /*border: 1px solid green;*/

        .middle {
            /*border: 5px solid purple;*/
            margin-bottom: 3em;
        }

        .side {
            margin-top: 3em;
        }

        .client {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /*border: 5px solid orange;*/

            div {
                display: flex;
                /*border: 5px solid orange;*/
                margin: 0;
            }
        }

        .client-name {
            /*border: 1px solid red;*/
            margin: 0;
            text-transform: uppercase;
            color: #1E1E1E;
        }

        .subscribers {
            margin: 0;
        }

        .client-logo {
            width: 125px;
            margin: .5em;
            height: auto;
            border-radius: 50%;
            border: 3px solid #f9f9f6;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
    }
}
