html, body {
    font-family: "gesta", sans-serif;
    background-color: #DBF2EF;
    /*background-color: #cde1dc;*/
    /*background-color: #f9f9f6;*/
    margin: 0;
    scroll-behavior: smooth;
}

.top-container {
    /*border: 1px solid yellow;*/
    background-image: url("/imgs/hero.svg");
    background-position: center;
    background-size: cover;

    height: 100vh;

    .nav {
        padding: 5px;
        /*border: 2px solid blue;*/
        display: flex;
        justify-content: space-between;
        background-color: #2C3B53;

        .left {
            display: flex;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .right {
            border: 2px dashed green;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                color: white;
                padding: 5px 15px;
                transition: .2s ease-in-out;

                &:hover {
                    color: gray;
                    transform: translateY(-2px);
                }

                &.active {
                    /*text-decoration: underline;*/
                    /*text-decoration-thickness: 2px;*/
                    /*text-underline-offset: 19px;*/
                }
            }
        }
    }
    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;

        .info {
            .welcome {
                margin-top: 2em;
            }

            span.name {
                color: lightseagreen;
            }

            span.small {
                font-size: .75em;
            }

            .circle {
                display: flex;
                height: 150px;
                width: 150px;
                border-radius: 50%;
                margin: 2em auto 5em auto;
                background-color: #fff;
                transition: .25s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                }
            }

            .description {
                text-align: center;
                font-size: 1.75em;
                margin: 0 auto 3em auto;
                font-weight: bold;
                border: 1px solid blue;
                /*color: #1E1E1E;*/
                /*color: #352628;*/
                color: white;
            }
        }

        .down {
            /*border: 5px solid green;*/
            display: flex;
            justify-content: center;
            align-items: flex-end;
            animation: MoveUpDown 1.5s infinite ease-in-out;

            .down-arrow {
                width: 50px;

            }
        }
    }
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-25%)
    }
}


.showreel {
    border: 1px solid red;
    padding: 2em;
    background-color: #DBF2EF;

    h1 {
        color: black;
    }
    .showreel-video {
        display: flex;
        justify-content: center;
        margin: 2em;

        #video {
            border: 3px solid black;
            box-shadow: 2px 2px 4px grey;
        }
    }
}

.section-divider {
    background-color: black;
    height: 2px;
    margin: auto; /* spacing above/below */
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px grey;
    font-size: 2em;
    /*border: 1px solid blue;*/
    margin: 0;
}

.btn-wrapper {
    text-align: center;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px;
    color: #1E1E1E;
    background-color: #f9f9f6;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #1E1E1E;
    box-shadow: 3px 3px #1E1E1E;
    cursor: pointer;
    bottom: 2rem;

    &:active {
        box-shadow: none;
        transform: translate(2px, 2px);
    }
}

.footer {
    text-align: center;
}

.star {
    /*border: 1px solid blue;*/
    width: 30px;
    height: 30px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.flip {
    transform: scaleX(-1);
}

.programs {

    .premiere {
        width: 50px;
        border-radius: 50%;
    }
}


